body, html, .page-frame{
    width: 100%;
    height: 100%;
    padding: 0; margin: 0;
    font-family:  'Montserrat';
    background-color: #001;
    color: #D0D1D0;
    overflow: hidden;
}

.page-frame{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-content{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem;
}

.header-content .domain-title{
    letter-spacing: 0.5rem;
}

.header-content .menu{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    pointer-events: auto;     
}
.header-content a{
    color: inherit;
    text-decoration: none;
}
.header-content .menu a:hover{
    color: #D0D0FF;
}

.main-content{
    height: 90vh;
    display: flex;
    gap: 5rem;
}

.profile-image-content{ 
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}
.profile-image-content img{
    width: 100%;
    border-radius: 1rem;
    border-color: var( --soul-color-main );
    border-style: solid;
    border-width: .2rem .4rem .1rem;
}


.profile-text{
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
}


.background-icon{
    pointer-events: none;    
    position: fixed;
    transform: rotate(30deg);
    width: 50vw;
    height: auto;
    opacity: .1;
}


.title-flex{
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.profile-title{
    font-size: 3rem;
    font-family: 'Sacramento';
}

svg.glyph{
    width: 10vw;  height: 10vw;
}
svg.glyph path {
    stroke: var( --soul-color-main );
    fill: var( --soul-color-main );
    stroke-width: .2;
}






.profile-text h2{
    grid-column: 1 / -1;
}



.detailae{
    display: grid;
    font-size: 1.5rem;
    column-gap: 1rem;
    grid-template-columns: max-content auto max-content auto;
    align-items: center;
}

.detailae .label{
    font-size: 0.8rem;
}
.detailae .wide{
    grid-column: 2 / -1;
}

.narrative-content h2{
    font-size: 2rem;
}

.narrative{
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-indent: 3rem;
}