.main-content.splash{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-content: center;
}

.index-splash-content{
    height: 40vh;
    width: 100%;
    border-radius: 5rem;
    object-fit: contain;
    transition: height ease-out .3s;
    background-image: url('assets/circle.jpg'),
            linear-gradient( -45deg, #FFFFFF 0%,
            transparent 20%, transparent 80%,
            #FFFFFF 100% );
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.index-splash-content > a{
    text-decoration: none;
    z-index: 100;
    opacity: 0;
    transition: opacity ease-in .3s;
    &:hover{ opacity: 100; }
    background-color: #001;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 1em 1em #001 inset;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    font-size: .5rem;
    & > div{
        color: #E4FFFE;
         -webkit-text-stroke: .2px #0A255A;
    }
}


.index-splash-content{
    .spacer{ background: none; box-shadow: none; }
    .adia{ background-image: url('assets/adia/adia_face.jpg'); }
    .haelwed{ background-image: url('assets/haelwed/haelwed_face.jpg'); }
    .cindre{ background-image: url('assets/cindre/cindre_face.jpg'); }
    .summre{ background-image: url('assets/summre/summre_face.jpg'); }
    .rose{ background-image: url('assets/rose/rose_face.jpg'); }
    .snow{ background-image: url('assets/snow/snow_face.jpg'); }
    .anzille{ background-image: url('assets/anzille/anzille_face.jpg'); }
    .nio{ background-image: url('assets/nio/nio_face.jpg'); }
}



body:hover .index-splash-content{
    height: 60vh;
    max-height: 60vh;
}

.splash-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-text.title{
    font-size: 4rem;
    font-family: "Amita";
    font-weight: bold;
}

.splash-text.subtext{
    font-size: 1.5rem;
}